<div>
    <p></p>
    <h3>Добавить продукт</h3>
    <p></p>

    <form class="row g-3" ng-submit="createNewProduct()">
        <div class="col-auto">
            <input type="text" class="form-control" id="newProductTitle" ng-model="newProduct.title" placeholder="Название">
        </div>
        <div class="col-auto">
            <input type="number" class="form-control" id="newProductPrice" ng-model="newProduct.price" placeholder="Цена">
        </div>
        <div class="col-auto">
            <select class="form-control" ng-model="newProduct.categoryTitle">
                <option ng-repeat="c in categories" value="{{c.title}}">{{c.title}}</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Создать</button>
        </div>
    </form>
    <p></p>

</div>